<v-layout column align-left>
  <v-row>
    <v-col cols="6" style="background-color: #181b1f;" class="d-flex justify-center align-center">
      <v-form ref="form" v-model="valid" :lazy-validation="false" autocomplete="off">
        <v-text-field class="ma-0" height="25" v-model="form.rangePercent" :rules="formValidation.rangePercentRules"
          label="Range Percent" required></v-text-field>
        <v-text-field class="ma-0" height="25" v-model="form.higherPrice" :rules="formValidation.higherPriceRules"
          label="Higher Price" required></v-text-field>
        <v-text-field class="ma-0" height="25" v-model="form.lowerPrice" :rules="formValidation.lowerPriceRules"
          label="Lower Price" required></v-text-field>
        <v-layout justify-space-between>
          <v-btn center dark @click="getAskHiLo" small>
            <v-icon large color="error">mdi-call-split</v-icon>
          </v-btn>
          <v-btn center dark @click="getBidHiLo" small>
            <v-icon large color="success">mdi-call-split</v-icon>
          </v-btn>
        </v-layout>
      </v-form>
    </v-col>
    <v-col cols="6" style="background-color: #17191c;" class="d-flex justify-center align-center">
      <v-form ref="form" v-model="valid" :lazy-validation="false" autocomplete="off">
        <v-text-field class="ma-0" height="25" v-model="form.takeProfit" :rules="formValidation.takeProfitRules"
          label="Take Profit"></v-text-field>
        <v-text-field class="ma-0" height="25" v-model="form.stopLoss" :rules="formValidation.stopLossRules"
          label="Stop Loss"></v-text-field>
        <v-select class="ma-0" height="25" v-model="form.scale" :items="form.scaleItems"
          :rules="[v => !!v || 'Scale is required']" label="Scale" required></v-select>

        <v-text-field class="ma-0" heigÍht="25" v-model="form.coefficient" :rules="formValidation.coefficientRules"
          label="Scale Coefficient (Higher is stronger)"></v-text-field>
      </v-form>
    </v-col>
  </v-row>
  <v-row>
    <v-col cols="6" style="background-color: #17191c;" class="d-flex justify-center align-center">
      <v-form ref="form" v-model="valid" :lazy-validation="false" autocomplete="off">
        <v-text-field class="ma-0" height="25" v-model="form.contracts" :rules="formValidation.contractsRules"
          label="Quantity" required></v-text-field>
        <v-text-field class="ma-0" height="25" v-model="form.orders" :rules="formValidation.ordersRules"
          label="Number of orders" required></v-text-field>
        <v-select class="ma-0" height="25" v-model="form.time_in_force" :items="form.timeInForceItems" item-text="text"
          item-value="value" :rules="[v => !!v || 'Time In Force is required']" label="Time In Force" required>
        </v-select>
      </v-form>
    </v-col>
    <v-col cols="6" style="background-color: #17191c;" class="d-flex justify-center align-center">

      <v-layout justify-space-between>

        <div class="d-flex flex-column align-center">
          <v-switch v-model="form.reduceOnly" class="ma-0" color="primary" label="Reduce-only (close position)">
          </v-switch>
          <v-btn :disabled="!valid" color="success" class="ma-1 mt-2" @click="buy">
            Buy / Long
          </v-btn>
          <v-btn color="cooler" class="ma-1 mt-2" @click="reset">
            Reset
          </v-btn>
          <v-btn :disabled="!valid" color="error" class="ma-1 mt-2" @click="sell">
            Sell / Short
          </v-btn>
        </div>
      </v-layout>
    </v-col>
  </v-row>
</v-layout>